
<app-header></app-header>

<div class="main-container">
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-2 texto">
          <h1 class="">Las estadísticas sobre tus artistas, tus canciones y todo lo que escuchas en Spotify.</h1>
        </div>
        <div class="col-lg-6 order-1 order-lg-2"><img src="../../../assets/images/bitmap.png" alt="landing image" class="img-fluid"></div>
      </div>
    </div>
  </section>
</div>
