<div class="text-center">
  <h2>Nuevos Lanzamientos</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 p-3 animated fadeIn">
  <div *ngFor="let item of items" class="col">
    <div class="card h-100">
      <a [href]="item.uri" target="_blank">
        <img [src]="item.images[0].url" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <span *ngFor="let artista of item.artists" class="badge text-bg-success">{{artista.name}}</span>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Date {{item.release_date}}</small>
      </div>
    </div>
  </div>
</div>

